@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using System.Text.Json
@using StarLight.Provider.MarketData
@using StarLight.Web.Components.Shared
@inject MarketDataService MarketDataService
@inject NavigationManager Navigation
@rendermode InteractiveServer



<PageTitle>Home</PageTitle>

<h1>Stock Tracker</h1>
<select @onchange="AddCompany" class="form-select">
    <option value="">Pick Company</option>
    @foreach (var company in companies)
    {
        <option value="@(company.Symbol)">@company.Name (@company.Symbol)</option>
    }
</select>

<div class="chart-grid">
    @for (int i = 0; i < watchedCompanies.Count(); i++)
    {
        <PriceChart Company=@watchedCompanies[i] Color=@(ColorUtility.CategoricalTwelveColors[i])></PriceChart>
    }
        @foreach (var company in watchedCompanies)
        {
        }
</div>

@code {
    private HubConnection? hubConnection;
    private LineChart lineChart = default!;
    private ChartData chartData = InitialChartData.StockChartData;
    private IEnumerable<Company> companies = [];
    private IList<Company> watchedCompanies = new List<Company>();
    private bool clicked = false;
    protected override async Task OnInitializedAsync()
    {
        companies = await MarketDataService.GetCompanies();
    }
    private void AddCompany(ChangeEventArgs e)
    {
        var company = companies.FirstOrDefault(c => c.Symbol == e.Value?.ToString());
        if (company is not null)
            watchedCompanies.Add(company);
        StateHasChanged();
    }

}
