@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using System.Text.Json
@inject NavigationManager Navigation
@rendermode InteractiveServer



<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="container-fluid overflow-x-auto">
    <LineChart @ref="lineChart" Width="800" />
</div>


@code{
    private IList<HistoricalPrice> prices = [];
    private IList<HistoricalPrice> NFLXPrices = [];
    private HubConnection? hubConnection;
    private PriceService priceService = new PriceService();
    private LineChart lineChart = default!;
    private ChartData chartData = InitialChartData.StockChartData;
    private bool clicked = false;
    protected override async Task OnInitializedAsync()
    {
        await ConnectToMarketHub();
    }
    
    private async Task ConnectToMarketHub()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/market-hub"))
            .Build();

        hubConnection.On<HistoricalPrice>("HistoricalPriceAdded", async (price) =>
        {
            switch(price.Symbol)
            {
                case "NFLX":
                case "DIS":
                    priceService.AddPrice(price);
                    await lineChart.AddDataAsync(chartData, price.DateTime.ToString("mm:ss"), new LineChartDatasetData(price.Symbol, price.Price));
                    break;
                default:
                    break;
            }
            await InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await lineChart.InitializeAsync(chartData, InitialChartData.LineChartOptions);
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}
